
# Environment files
.env
.env.local
.env.*.local

# Dependencies
/node_modules
npm-debug.log
yarn-error.log
yarn-debug.log*
package-lock.json

# Build output
/dist
dist-ssr
*.local

# Logs
logs
*.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*